<% provide :title, t("static_page.about.page_title") %>
<h1><%= t("static_page.about.h1") %></h1>
<p>
  <%= t("static_page.about.p1") %> <a href="http://www.railstutorial.org/">
  <em><%= t("static_page.about.em") %></em></a> <%= t("static_page.about.p2") %>
  <a href="http://www.railstutorial.org/book"><%= t("static_page.about.a1") %></a>
  <%= t("static_page.about.p3") %>
  <a href="http://screencasts.railstutorial.org/"><%= t("static_page.about.a2") %></a>
  <%= t("static_page.about.p4") %>
  <a href="http://rubyonrails.org/"><%= t("static_page.about.a3") %></a>.
  <%= t("static_page.about.p5") %>
</p>
