<% provide :title, t("static_page.help.page_title") %>
<h1><%= t("static_page.help.h1") %></h1>
<p>
  <%= t("static_page.help.p1")%>
  <a href="http://www.railstutorial.org/help"><%= t("static_page.help.a1")%></a>.
  <%= t("static_page.help.p2")%>
  <a href="http://www.railstutorial.org/book"><em><%= t("static_page.help.em")%></em>
  <%= t("static_page.help.p3")%></a>.
</p>
